* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-form {
  display: flex;

}
.form {
  display: flex;
  background-color: rgb(247, 247, 247);
  border-radius: 12px;
  justify-content: center;
  margin: 0 auto;
  padding: 30px;
}
.todo-complete-button {
  background-color:  rgb(124, 218, 124);
  border: 2px solid green;
}
.todo-delete-button button {
  background-color: #fff;
  border: 2px solid red;
}
.list-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.list-container {
  margin-left: 20%;/* 왼쪽 여백 설정 */
  margin-right: 20%; /* 오른쪽 여백 설정 */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333; /* 푸터의 배경색 */
  color: #fff; /* 푸터 텍스트 색상 */
  text-align: center;
  padding: 15px 0; /* 상하 여백 */
  z-index: 9999; /* 다른 요소 위에 푸터를 표시하기 위한 z-index 설정 */
}
.list-title{
  border-bottom: 2px solid #cacaca; /* 밑줄 스타일 지정 */
  padding: 10px;
}
.todo-container{
  border: 4px solid #5d7dbe;
    border-radius: 12px;
    padding: 12px 24px 24px;
    width: 270px;
}
.button-set{
  display: flex;
  gap: 10px;
  margin-top: 24px;
}
input {
  box-sizing: border-box; /* 내부 padding과 border를 요소의 크기에 포함 */
  padding: 10px; /* 내부 여백 설정 */
  border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
  border-radius: 4px; /* 테두리의 둥근 정도 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
}
button {
  display: inline-block; /* 인라인 요소를 블록 요소로 변경 */
  padding: 10px 20px; /* 내부 여백 설정 */
  border: none; /* 테두리 없음 */
  border-radius: 10px; /* 테두리의 둥근 정도 설정 */
  background-color: rgb(255, 30, 83); /* 배경색 설정 */
  color: #fff; /* 글자색 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
  cursor: pointer; /* 마우스 커서 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 기본 텍스트 장식 제거 */
}


.container {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  font-size: calc(8px + 2vmin);
  color: white;
  align-content: space-between;
  justify-content: space-between;
  padding: 10px;
}

